# Ignore Terraform files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Ignore sensitive files
*.tfvars
!examples/example.tfvars
*.tfvars.json

# Ignore logs and temporary files
*.log
*.bak
*.tmp
.DS_Store

# allow example-specific overrides
